*{
    margin: 0;
    box-sizing: border-box;
}
span{
    font-family: 'Noto Sans KR', 'CJONLYONENEW', '맑은 고딕', '돋움', Dotum, sans-serif;
}
body{
    background: #0175c8;
}
a{
    color: #000;
    text-decoration: NONE;
}
ul{
    list-style: none;
}
#nav1 ul{
    display: flex;
    align-items: center;
}
#nav2{
    z-index: 3000;
    position: fixed;
    width: 100%;
    top: 0;
    height: 60px;
    align-items: center;
    background-image: linear-gradient(to right, rgb(215, 67, 87), rgb(241,79,58) 59%, rgb(239, 100, 47));
}
#nav2 .search{
    height: 100%;
    line-height: 60px;
    align-items: center;
}
.search input{
    background: none;
}
#nav2 ul{
    display: flex;
    align-items: center;
}
#nav2 ul li{
    line-height: 40px;
    padding-right: 42px;
}
#nav2 ul li a{
    color: #fff;
    font-weight: bold;
}
.nav_t ul li{
    margin: 0 10px;
}
.nav_t ul li a{
    position: relative;
    display: block;
    text-align: center;
    padding:5px 5px
}

.nav_t ul li a img{
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
    
}
.nav_t ul li a span{
    display: block;
    font-weight: 600;
    color: #556 ;
    font-size: 11px;
    position: absolute;
    bottom: 0;
    
    
}

header{
    text-align: center;
    position: relative;
    width: 980px;
    height: 80px;
    margin: 0 auto;   
}
header span{
    position: absolute;
    right: 0;
    top: 5px;
}
.nav_t{
    margin-bottom: 50px;
    height: 113px;
    border-bottom: 1px solid #e3e3e3;
}
.nav_b{
    position: absolute;
    top: 113px;
    left: 0;
    width: 100%;
    height: 50px;
    padding: 5px 0 ;
    background: #fff;
}
#nav1{
    background-color: #fff; 
    position: relative; 
    border-bottom: 2px solid red;
}

.nav_wr{
    display: flex;
    width: 980px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 30px 6px 25px 5px;
    
}
.nav_wr2{
    display: flex;
    width: 980px;
    margin: 0 auto;
    justify-content: space-between;
}
.logo{
    height: 53px;
    float: left;
    display: block;
}
.logo span{
    font-weight: 500;
    font-size: 18px;
    color: #444;
    letter-spacing: 2px;
}
.logo img{
    height: 100%;
    width: auto;
}
.nav_b ul{
    padding: 0;
}
.nav_b li{
    line-height: 40px;
    padding-right: 42px;
    
}
.search{
    line-height: 40px;
}
.search input{
    border: none;
    height: 30px;
}
.search button{
    background: none;
    border: none;
    cursor: pointer;
}
.nav_b li a{
    font-weight: 700;
    font-size: 15px;
    color: #444;
}
.main{
    position: relative;
    height: 498px;
    background-color: #000;
    
}
.videobox{
    width: 1000px;
    height: 100%;
    margin: 0 auto;
}
#inner_text{
    color: #fff;
    position: absolute;
    display: block;
    bottom: 200px;
    left: 500px;
}
.chart{
    background: #e8e8e8;
    height: 470px;
}
.m_wrap{
    width: 980px;
    height: 100%;
    margin: 0 auto;
}
.content_top{
    padding-top: 30px;
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
}
.f_l{
    display: flex;
}
.f_l h2{
    float: left;
}
.f_l h2 a{
    padding: 0 20px;
    font-weight: bold;
    color: #444;
    
}
.f_l h2:first-child{
    border-right: 1px solid #999;
    padding-left: 0;
}
.swiper-button-prev,.swiper-button-next{
    background: #fff;
    color: #666 !important;
    border-radius: 50%;
    padding: 15px 15px;
    opacity: 0.8;
    width: 35px;
    height: 35px !important;
}
.swiper-button-prev::after,.swiper-button-next::after{
    font-size: 1.1rem !important;
}
.content_top button{
    width: 90px;
    border-radius: 25px;
    border: 1px solid #e1e1e1;
}
.img_wrap{
    width: 170px;
    height: 234px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
.text_wrap{
    text-align: center;
}
.text_wrap h4{
    padding: 7px 0;
    width: 170px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.text_wrap p{
    font-weight: bold;
    color: #666;
    font-size: 13px;
    display: flex;
    padding: 0 30px;
}
.text_wrap p span{
    padding-right: 15px;
}
.event{
    background: #fff;
}
.evt_wrap{
    width: 310px;
    height: 207px;
    overflow: hidden;
    border-radius: 10px;
}
.text_wrap2{
    width: 310px;
}
.text_wrap2 h4{
    padding: 7px 0;
}
.text_wrap2 p{
    font-weight: bold;
    color: #666;
    font-size: 13px;
}
.theater{
    background: #fff;
}
.c_left{
    width: 500px;
    height: 270px;
}
.cinema{
    display: flex;    
}
.c_right ul{
    list-style: none;
}
.c_right li{
    width: 450px;
}
.c_right li a:first-child{
    border-top: 1px solid #d3d3d3;
}
.c_right li a{
    border-radius: 10px;
    border-bottom: 1px solid #d3d3d3;
    display: flex;
    justify-content: space-between;
    padding: 19px 25px;
    align-items: center;
}
.c_right li a:hover{
    border: 1px solid #000;
}
.c_right li a{
    font-weight: bold;
    font-size: 18px;
    color: #333;
}
.c_right li a span{
    color: #666;
    font-size: 14px;
}
.else{
    
    justify-content: space-around;
    padding-top: 40px;
    height: 450px;
    background: #fff;
}

.else > div > div{
    float: left;
    margin-right: 15px;
    width: 310px;
    padding: 20px 19px 30px;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
}
.ticket{
    height: 375px;
    border: 1px solid #e4e4e4;
    padding: 20px 19px 30px;
    border-radius: 10px;
}
.else_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.else_top h4{
    font-size: 20px;
    color: #222;
}
.else_top a{
    font-size: 12px;
    color: #666;
}
.else_bottom{
    margin-top: 10px;
}
.imbox{
    width: 75px;
    height: 76px;
}
.dbox{
    display: inline-block;
}
.bo1{
    display: flex;
    justify-content: left;
    width: 270px;
    align-items: center;
    padding: 10px 0;
}
.detail{
    padding-left: 10px;
}
.detail span,.detail strong{
    display: block;
    font-size: 14px;   
}
.detail strong{
    font-size: 16px;
}
.gift_card{
    height: 375px;
    border: 1px solid #e4e4e4;
    padding: 20px 19px 30px;
    border-radius: 10px;
}
.drink{
    height: 375px;
    border: 1px solid #e4e4e4;
    padding: 20px 19px 30px;
    border-radius: 10px;
}
.multi{
    width: 980px;
    height: 240px;
}
.bottom_end{
    background: #fff;
    padding-bottom: 30px;
}

.slide_news{
    width: 211px;
}
.news_wrap{
    width: 211px;
    height: 238px;
    overflow: hidden;
    border-radius: 10px;
}
.several{
    width: 516px;
    padding: 24px 26px 20px 30px;
}
.notice{
    margin-right: 20px;
    width: 738px;
    height: 100%;
    display: flex;
    border: 1px solid #e4e4e4;
}
.download{
    width: 222px;
    text-align: center;
    border-left: 1px solid #e4e4e4;
}
.multi{
    display: flex;
}
.notice_t{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.notice_t strong{
    font-size: 16px;
}

.notice_t .n_text{
    font-size: 14px;
}
.n_more{
    font-size: 12px;
    color: #666;
}
.customer_t{
    display: flex;
    padding-top: 20px;
}
.c_text{
    padding-left: 17px;
    font-size: 14px;
    line-height: 1.5rem;
}
.c_text h5{
    font-size: 14px;
}
.c_text span{
    color: #666;
}
.else_btn{
    padding-top: 30px;
}
.else_btn button{
    padding: 7px 14px;
    font-size: 14px;
    color: #222;
    line-height: 1.429em;
    background-color: #f6f6f6;
    border-radius: 5px;
    border: none;
    margin-left: 8px;
}
.else_btn button:first-child{
    margin: 0;
}
.download strong{
    display: block;
    font-size: 16px;
    margin-top: 24px;
    color: #222;
}
.download span{
    display: block;
    margin-top: 5px;
    font-size: 12px;
    color: #222;
}
.barcode_wrap{
    width: 66px;
    height: 66px;
    margin: 29px auto;
}
.download p{
    margin-top: 24px;
    font-size: 11px;
    color: #666;
    line-height: 1.3em;
}
footer{
    background: #f8f8f8;
    height: 191px;
}
footer ul{
    padding: 23px 0;
    display: flex;
    justify-content: space-between;
}
footer li a{
    font-size: 12px;
    color: #666;
    font-weight: 700;
}
.import{
    color: #000;
    text-decoration: underline;
}
.info{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 23px 0;
}
.info_t{
    font-size: 12px;
    color: #666;
}
.info_i select{
    width: 176px;
    height: 34px;
    font-size: 12px;
    color: #666;
    background: none;
    border: 1px solid #e4e4e4;
}
.info_i button{
    align-items: center;
    width: 36px;
    height: 34px;
    background: #9e9e9e;
    color: #fff;
    border: none;
    margin-left: -3px;
}
.cleanbox{
    padding: 120px 0 ;
    background: #f8f8f8;
}
#gotop{
    z-index: 500;
    position: fixed;
    bottom: 80px;
    right: 400px;
    font-size: 50px;
    opacity: 3000;
    cursor: pointer;
}
#close{
    cursor: pointer;
}
